const dbUrl = 'mongodb://localhost:27017/poloaltbot-2'
exports.DB_URL = dbUrl

// Order statuses
exports.STATUS_NEW = 1
exports.STATUS_BOUGHT = 2
exports.STATUS_TOBESOLD = 3
exports.STATUS_SOLD = 4
exports.STATUS_CANCELED = 5
exports.STATUS_INACTIVE_BUY = 6
exports.STATUS_INACTIVE_SELL = 7
